MOS6502.xcworkspace/xcuserdata/stuart.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MOS6502.xcworkspace/xcuserdata/stuart.xcuserdatad/xcschemes/xcschememanagement.plist
MOS6502/Playground/BitMixing.playground/playground.xcworkspace/contents.xcworkspacedata
MOS6502/Playground/BitMixing.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MOS6502/Playground/BitMixing.playground/xcuserdata/stuart.xcuserdatad/xcschemes/xcschememanagement.plist
